.App{
    text-align:center;
    font-family:Arial;
}

img{
    margin:20px;
    border-radius:10px;
}

.card{

    width:350px;
    margin:20px auto;
    padding:15px;
    border:1px solid black;
    border-radius:10px;

}
