.App{

  text-align:center;
  margin-top:100px;
  font-family:Arial;

}

button{

  width:180px;
  padding:12px;
  font-size:18px;
  border:none;
  border-radius:6px;
  background:green;
  color:white;
  cursor:pointer;

}

button:hover{

  background:darkgreen;

}

.soldout{

  color:red;

}
